//General
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px $body_font;
}
// Sizing for Body
.content-area{
	width: 100%;
}
.site-main{
	max-width: 1024px;
	padding: 20px;
	margin: 0 auto;
}

//Keep Footer at Bottom of page
.site-content {
  min-height: calc(100vh - 400px);
  padding: 40px 40px 0 40px;
}
.footer {
  height: 400px;
}

//Remove Page Header
.entry-header{
	position: absolute;
	top: -9999px;
  left: -9999px;
}