
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px $body_font;
}

//Keep Footer at Bottom of page
.site-content {
  min-height: calc(100vh - 70px);
  padding: 40px 40px 0 40px;
}
.footer {
  height: 50px;
}

//Remove Page Header
.entry-header{
	position: absolute;
	top: -9999px;
  left: -9999px;
}