.menu {
	font-family: $body_font;
	text-transform: uppercase;
	li{
		margin-right: 20px;
		
		a{
			color:$light-grey;
			position: relative;
		}
		a:before {
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 2px;
		  bottom: 0;
		  left: 0;
		  background-color: $pink;
		  visibility: hidden;
		  transform: scaleX(0);
		  transition: all 0.3s ease-in-out 0s;
		}
		a:hover:before {
		  visibility: visible;
		  transform: scaleX(1);
		}
	}
}
.site-header{
	width:100%;
	background-color: #F3F3F3;
}
.site-header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
	

	.site-description{
		position: absolute;
		top: -9999px;
    left: -9999px;
	}
	.main-navigation{
		order: 1;
		width: 300px;
	}
	.site-branding{
		background-color:#fff;
		height: 100%;
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
		order: 2;	
		h2{
			color:$blue;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}


  




